h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #999;
}*/

.table-hover tbody tr:hover  td ,
.table-hover tbody tr:hover  th {
  background-color: #999;
  color:blue;
}
